# Backend
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345678
DB_NAME=comerciante_nana
TYPEORM_SYNCHRONIZE=true
JWT_SECRET=cambia_este_secreto_en_produccion
ADMIN_EMAIL=admin@nana.com
ADMIN_PASSWORD=Admin123!
RECAPTCHA_SECRET=clave_recaptcha_dev
CORS_ORIGIN=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
